@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 412px) {
  html {
    font-size: 80.2%;
  }
  .App {
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr; */
    margin: 0;
  }

  .search-bar,
  .sample,
  /* .profile-active, */
  .chat-veiw,
  .chat-box,
  .profile-description {
    display: none;
    visibility: hidden;
  }
}
